<section class="register flex justify-center items-center min-h-screen relative">
    <!-- Uncomment and modify if animated images are needed -->
    <!-- <img src="/api/placeholder/100/100" alt="Pizza 1" class="absolute w-16 h-16 top-[10%] right-[10%] animate-bounce delay-0" /> -->
    <!-- <img src="/api/placeholder/100/100" alt="Pizza 2" class="absolute w-16 h-16 top-[20%] left-[15%] animate-bounce delay-1000" /> -->
    <!-- <img src="/api/placeholder/100/100" alt="Pizza 3" class="absolute w-16 h-16 bottom-[25%] right-[20%] animate-bounce delay-2000" /> -->
    <!-- <img src="/api/placeholder/100/100" alt="Delivery Scooter" class="absolute bottom-12 -left-24 w-24 h-24 animate-[slide_15s_linear_infinite]" /> -->

    <!-- Overlay for the background -->
    <!-- <div class="overlay"></div> -->

    <div class="w-full max-w-md relative z-10">
      <form action="/register" method="POST" class="form-container">
        <% if(messages.error) { %>
        <span class="text-red-500 text-center text-sm mb-4 block"><%= messages.error %></span>
        <% } %>

        <h2 class="form-title">Create Your Account</h2>

        <div class="input-group">
          <label for="name">Name</label>
          <input name="name" value="<%= messages.name  %>" id="name" type="text" placeholder="Enter your name" />
        </div>

        <div class="input-group">
          <label for="email">Email</label>
          <input name="email" value="<%= messages.email  %>" id="email" type="email" placeholder="Enter your email" />
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input name="password" id="password" type="password" placeholder="Enter your password" />
          <p>* Minimum 8 characters</p>
        </div>

        <div class="flex items-center justify-between mb-6">
          <button class="btn-submit" type="submit">Register</button>
        </div>

        <div class="link-login">
          <a href="/login">
            Already have an account?
            <span>Log In</span>
          </a>
        </div>
      </form>
    </div>
  </section>

