<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        Order Now
      </button>
    </div>
    <div class="w-1/2">
      <img src="/img/hero-pizza.png" alt="" />
    </div>
  </div>
</section>


<!--about-->
<!-- about meal -->
<section class="about-meal">
  <div class="container">
    <h2 class="section-heading">About Fresh Meal</h1>
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-images">
            <img src="/img/bb.png" alt="Image 1">
            <img src="/img/br.png" alt="Image 2">
            <img src="/img/dp.png" alt="Image 3">
            <img src="/img/f.png" alt="Image 4">
            <img src="/img/gj.png" alt="Image 5">
            <img src="/img/hdb.png" alt="Image 6">
            <img src="/img/hmk.png" alt="Image 7">
            <img src="/img/kkk.png" alt="Image 8">
            <img src="/img/ms.png" alt="Image 9">
          </div>
        </div>
    
      <div class="flex-1">
        <h2>
          Freshmeal is a long established fact that a reader will be distracted
        </h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
          nemo eos excepturi earum laudantium modi doloribus temporibus quae,
          sit voluptates cum minus vitae error quibusdam optio impedit assumenda
          cumque rerum.
        </p>
        <button class="btn btn-secondary">Read More</button>
      </div>
    </div>
  </div>
</section>
<!--top services-->
<section class="our-services">
    <div class="section">
      <div class="container">
        <h1 class="section-heading">Our services</h1>
        <div class="card-wrapper flex">
          <div class="service-card bottom-magic-shadow-sm">
            <img class="icon" src="/icons/transport.svg" alt="" />
            <h2>Free Home delivery</h2>
            <p>
              Enjoy the convenience of shopping from home with free delivery on all orders! 
              Whether you're stocking up on essentials or treating yourself, we’ll deliver your items 
              right to your doorstep—at no extra cost. Fast, reliable, and hassle-free!
               Just place your order, sit back, and relax as we bring your purchases to you.
            </p>
            <button class="btn btn-secondary">Read More</button>
          </div>
          <div class="service-card bottom-magic-shadow-sm">
            <img class="icon" src="/icons/bag.svg" alt="" />
            <h2 class="text-primary">30 Days ReturnServices</h2>
            <p>
              We want you to love every bite. If for any reason you're not satisfied with your meal, let us know within 30 days, and we’ll make it right—whether 
              that means a replacement, a credit, or a full refund. Your happiness is our priority!
            </p>
            <button class="btn btn-primary">Read More</button>
          </div>
          <div class="service-card bottom-magic-shadow-sm">
            <img class="icon" src="/icons/usd.svg" alt="" />
            <h2>Money Back Guaranted</h2>
            <p>
              Your satisfaction is our top priority! That's why we offer a 100% money-back guarantee on 
              all orders. If you’re not completely satisfied with your experience or the quality of your meal, 
              simply reach out to us, and we’ll issue a full refund—no hassle, no questions asked.
               We’re committed to ensuring you enjoy every aspect of your order, or your money back!
            </p>
            <button class="btn btn-secondary">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Contact Start -->
<section id="section6" class="contact" style="margin-top: 50px">
  <div
    class="container"
    style="
      max-width: 1000px;
      margin: 0 auto;
      background-color: #a9a7a5;
      padding: 50px;
      border-radius: 10px;
    "
  >
    <div class="contact100-form-title" style="text-align: center">
      <!-- Keep In Touch Title -->
      <h3
        style="font-family: 'Arial', sans-serif; color: #333; font-size: 2.5rem"
      >
        Keep In Touch
      </h3>
      <!-- Send A Message Title -->
      <h2
        style="
          font-family: 'Arial', sans-serif;
          color: #333;
          font-size: 3rem;
          margin-top: 10px;
        ">
        Share your feedback :)
      </h2>
    </div>
    <form
      class="contact100-form validate-form"
      style="
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-family: 'Arial', sans-serif;
      "
    >
      <!-- Name Input -->
      <div
        class="wrap-input100 rs1-wrap-input100 validate-input"
        data-validate="Name is required"
        style="flex: 1; min-width: 250px"
      >
        <span class="label-input100" style="color: #333">Your Name</span>
        <input
          class="input100"
          type="text"
          name="name"
          placeholder="Enter your name"
          style="
            width: 100%;
            font-family: 'Arial', sans-serif;
            font-size: 1.2rem;
            border-radius: 15px;
            padding: 10px;
          "
        />
        <span class="focus-input100"></span>
      </div>

      <!-- Email Input -->
      <div
        class="wrap-input100 rs1-wrap-input100 validate-input"
        data-validate="Valid email is required: ex@abc.xyz"
        style="flex: 1; min-width: 250px"
      >
        <span class="label-input100" style="color: #333">Email</span>
        <input
          class="input100"
          type="text"
          name="email"
          placeholder="Enter email id"
          style="
            width: 100%;
            font-family: 'Arial', sans-serif;
            font-size: 1.2rem;
            border-radius: 15px;
            padding: 10px;
          "
        />
        <span class="focus-input100"></span>
      </div>

      <!-- Message Input -->
      <div
        class="wrap-input100 validate-input"
        data-validate="Message is required"
        style="width: 100%"
      >
        <span class="label-input100" style="color: #333">Message</span>
        <textarea
          class="input100"
          name="message"
          placeholder="your message here... "
          style="
            width: 100%;
            height: 150px;
            font-family: 'Arial', sans-serif;
            font-size: 1.2rem;
            border-radius: 15px;
            padding: 10px;
          "
        ></textarea>
        <span class="focus-input100"></span>
      </div>

      <!-- Submit Button -->
      <div
        class="container-contact100-form-btn"
        style="width: 100%; text-align: center"
      >
        <button
          class="contact100-form-btn"
          style="
            background-color: #ff6200;
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 30px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          "
        >
          <span>
            Submit
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
      </div>

      <!-- Error Message -->
      <div
        class="container-contact100-form-btn response"
        style="width: 100%; margin-top: 30px; text-align: center"
      >
        <p class="error"></p>
      </div>
    </form>
  </div>
</section>
<!-- Contact End -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<!-- Address Section with Parallax -->

<section class="contact-us flex">
  <div class="contact-info-wrapper">
    <h1 class="section-heading">Contact us</h1>
    <div class="contact-info">
      <div>
        <div>
          <img src="./icons/phone-2.svg" alt="" />
          <div>
            <span>Call us:</span>
            <span>(+91) 1234567890</span>
          </div>
        </div>
        <div>
          <img src="./icons/bag-2.svg" alt="" />
          <div>
            <span>E-mail ::</span>
            <span
              ><a href="mailto:support@freshmeal.com"
                >brainnotbraining@gmail.com</a
              ></span
            >
          </div>
        </div>
        <div>
          <img src="./icons/clock-2.svg" alt="" />
          <div>
            <span>Working Hours:</span>
            <span>Mon - Sat (8.00am - 12.00am)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15224.999278678943!2d78.36621957227418!3d17.44775308519207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93dc8c5d69df%3A0x19688beb557fa0ee!2sHITEC%20City%2C%20Hyderabad%2C%20Telangana%20500081!5e0!3m2!1sen!2sin!4v1720526178950!5m2!1sen!2sin"
      width="100%"
      height="100%"
      frameborder="0"
      allowfullscreen=""
      loading="lazy"
      style="border: 0"
    ></iframe>
  </div>
</section>
<!--starting of footer-->
<footer>
  <div class="container">
    <div class="box">
      <h3>About us</h3>
      <p>
        It was popularised in the 1960 with the release of Latest sheets
        containing Lorem Ipsum passage.
      </p>
      <button class="btn btn-secondary">Read More</button>
    </div>
    <div class="box">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Gallery</a>
        </li>
        <li>
          <a href="#">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="box">
      <h3>Follow Us</h3>
      <div>
        <ul>
          <li>
            <a href="#">
              <img src="./icons/facebook.svg" alt="" />
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/icons/twitter.svg" alt="" />
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/icons/google.svg" alt="" />
              <span>Google +</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/icons/instagram.svg" alt="" />
              <span>Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="box instagram-api">
      <h3>Instagram</h3>
      <div class="post-wrap">
        <div>
          <img src="/img/pizza.png" alt="hiii" />
        </div>
        <div>
          <img src="/img/pizza.png" alt="hloo" />
        </div>
        <div>
          <img src="/img/pizza.png" alt="baby" />
        </div>
        <div>
          <img src="/img/pizza.png" alt="good" />
        </div>
        <div>
          <img src="/img/pizza.png" alt="love" />
        </div>
        <div>
          <img src="/img/pizza.png" alt="what" />
        </div>
      </div>
    </div>
  </div>
  <h3>Made with ♥</h3>
</footer>
